html, body {
	height: 100%;
	word-wrap: break-word;
	margin: 0;
	font-family: sans-serif;
	overflow: hidden;
}

#chatWindow {
	height: 100%;
	width: 100%;
	overflow: auto;
}

#sendWindowBuffer {
	height: 2em;
}

#sendWindow {
	position: relative;
	margin-top: -2em;
	height: 2em;
	border-top: 0.1em solid black;
	background-color: #FFFFFF;
}

#sendInputWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 6em;
}

#sendButtonWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

#sendInput {
	border-style: none;
	width: 100%;
	resize: none;
	height: 2em;
}

.messageStatus {
	float: left;
	width: 0.5em;
	height: 0.5em;
	margin: 0.3em 0.2em 0.2em 0.2em;
}

.messageStatusNotAcknowledged {
	background-color: #880088;
}

.messageStatusAcknowledged {
	background-color: #008800;
}

.messageStatusReceived {
	background-color: #0000FF;
}

.messageSender {
	float: left;
	padding: 0 0.5em;
	width: 13em;
	height: 100%;
	position: relative;
}

.messageTime {
	font-size: 0.5em;
	color: #AAAAAA;
	position: absolute;
	right: 0.3em;
	top: 0.7em;
}

.messageBody {
	margin-left: 15em;
	padding-left: 0.5em;
	border-left: 0.1em solid #DDDDDD;
}

.messageRow.lastSeenMessage {
	border-bottom: 0.2em solid #DDDDDD;
}
